<h2><%= current_user.username %>, choose which entry you would like to view</h2>

<% if current_user.entries.size == 0 %>
You haven't created any entries yet.
<% end %>

<% @entries.each do |entry| %>
  <a href="/entries/<%= entry.id %>"><%= entry.date.strftime('%m-%d-%Y') %></a> at <%= entry.created_at.strftime('%H:%M') %><br>
<% end %><br>

<a href="/entries/new">Create a new entry</a><br>
<a href="/logout">Logout</a>
