<h1>Create A New Entry</h1>

<form action="/entries" method="post">
 <label>Date:</label>
 <input type="date" name="entry[date]" required><p>

  <label>How are you feeling?</label>
    You can select multiple moods from the list with <code>cmd + click</code>
      on Mac and <code>ctrl + click</code> on Windows.<br>

    <select multiple size="10" name="entry[moods][]" style="height: auto">
      <% @moods.each do |mood| %>
        <option name="entry[moods][]" value="<%= mood.name %>"><%= mood.name %></option>
      <% end %>
    </select>

    <label>I'm also feeling:</label>
      <input type="text" name="entry[moods][]" placeholder="add another mood here"><p>

  <label>What did you do today?</label>
    <% @activities.each do |activity| %>
      <input type="checkbox" class="label-body" name="entry[activities][]"
        value="<%= activity.name %>"> <%= activity.name %></input>
    <% end %> <br>

  <label>Add another activity:</label>
    <input type="text" name="entry[activities][]" placeholder="add another activity">
    <br>

  <label>Add a note about your day:</label>
    Share any other observations you're noticing about your mental and emotional
    health here. Do you feel any activities you did or did not do contributed to
    your mood? Was a mood particularly severe?<br>
    <textarea name="entry[note]" placeholder="More details go here!"></textarea><p>

  <input type="submit" value="Create Entry"> <a class="button" href="/dashboard">Nevermind</a>
</form>
