<h1>Create a new entry</h1>

<form method="post" action="/entries">
 <label>Date:</label>
 <input type="date" name="entry[date]"><p>

  <label>How are you feeling?</label><p>
  <select multiple name="entry[moods][]">
    <% @moods.each do |mood| %>
      <option name="<%= mood.name %>"><%= mood.name %></option>
    <% end %>
  </select><p>

  <label>What did you do today?</label><br>


  <label>Add a note about your day:</label><p>
  <input type="text" name="entry[note]"><p>


  <input type="submit" value="Create Entry">
</form>
