<h1><%= current_user.username.capitalize %>'s Dashboard</h1>

<p>Your last entry was on <%= current_user.entries.last.date.strftime('%B %d, %Y')%>.</p>

<a class="button button-primary" href="/entries/new">Create a new entry</a>
<a class="button button-primary"href="/entries">See all your entries</a>
<a class="button button-primary" href="/logout">Log Out</a><br>
