<h1>Create A New Account</h1>
<div class="error_message" style="color:red;">
<% if flash[:user_error]%>
    <%= flash[:user_error]%>
<% end %>
</div>

<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username"><br>

  <label for="email">Email:</label> <input type="text" name="email"><br>

  <label for="password">Password:</label>
  <input type="password" name="password"><br>
  <input class="button-primary" type="submit" value="Sign Up">
</form>
