<h1>Create a new account</h1>

<form action="/signup" method="post">
<label>Username:</label>
<input type="text" name="username"><br>

<label>Email:</label>
<input type="text" name="email"><br>

<label>Password:</label>
<input type="password" name="password"><br>
<input type="submit" value="Sign Up">
</form>
