<center><h1>Welcome to Check-In</h1>
<p>Mental health is important. Check-in is an application designed to make it
  easy for you to keep track of your moods and associated daily activities. </p>

<p><a href="/login">Log In</a> or <a href="/signup">Create a New Account</a>
  to get started.</p>
</center>
